# VSCode
.vscode
.vscode/*
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Other IDEs
.idea
.idea/*
.idea/**/*

# Private Node Modules
node_modules/

# Mac/OSX
.DS_Store

# Distribution / Packaging
build/
__Build/
__Notes/
dist/
downloads/
lib/

# Environments
.env
env/
ENV/

# External dependencies
vendored/*
libs/*

# Cmake cache files
.cmake/*
.cmake/**/*
.cmake
